<a href="https://colab.research.google.com/github/BonnieAo/Blockchain_network_study/blob/main/Order_book_data_crawling_%26_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Crawling

In [ ]:
# Real-time order book data from Binance platform
import ccxt
import time
import csv

if __name__ == "__main__":
    exchange = ccxt.binance()
    symbol = "ETH/USDT"
    with open("data.csv", "w", encoding="utf-8") as file:
        writer = csv.writer(file)
        writer.writerow(['data_type', 'price', 'volume', 'time'])
        while True:
            current_time = time.strftime("%Y-%m-%d %H:%M:%S", time.localtime())
            print(current_time)
            try:
                data = exchange.fetch_l2_order_book(symbol)
            except Exception as e:
                pass
            else:
                bids_data = data['bids']
                asks_data = data['asks']
                for item in bids_data:
                    writer.writerow(['bids', item[0], item[1], current_time])
                for item in asks_data:
                    writer.writerow(['asks', item[0], item[1], current_time])

            time.sleep(1)

# Variable Calculation (Binance Real-time data)

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/BonnieAo/Blockchain_network_study/main/binance_orderbook_0.5h.csv")
df.head()

  data_type    price    volume                 time
0      bids  2015.07  10.40200  2021-06-21 16:39:13
1      bids  2015.06   0.03883  2021-06-21 16:39:13
2      bids  2015.01   1.00000  2021-06-21 16:39:13
3      bids  2015.00   0.50000  2021-06-21 16:39:13
4      bids  2014.92   0.37362  2021-06-21 16:39:13

In [ ]:
# Match ask and bid
df_ask = df[df['data_type']=='asks']
df_ask = df_ask.reset_index()
df_ask = df_ask.rename(columns = {'price':'price_ask'})
df_ask=df_ask.rename(columns = {'volume':'volume_ask'})
df_ask=df_ask.rename(columns = {'time':'time_ask'})

df_bid = df[df['data_type']=='bids']
df_bid = df_bid.reset_index()
df_bid=df_bid.rename(columns = {'data_type':'data_type1'})
df_bid=df_bid.rename(columns = {'price':'price_bid'})
df_bid=df_bid.rename(columns = {'volume':'volume_bid'})
df_bid=df_bid.rename(columns = {'time':'time_bid'})
df_bid=df_bid.rename(columns = {'index':'index_bid'})

df_orderbook = pd.concat([df_ask,df_bid],axis=1)
df_orderbook = df_orderbook.drop(['index','index_bid','time_ask'],axis=1)
df_orderbook=df_orderbook.rename(columns = {'time_bid':'time'})

In [ ]:
# Time variable pre-processing
import datetime
df_orderbook['time'] = pd.to_datetime(df_orderbook['time'])
df_orderbook['time_nodate']=df_orderbook['time'].dt.time
df_orderbook['time_tomin']=df_orderbook['time_nodate'].apply(lambda x: str(x)[:-3])

# Get the time to minute
df_orderbook['time_tomin'] = pd.to_datetime(df_orderbook['time_tomin']).dt.time
df_orderbook

       data_type  price_ask  ...  time_nodate time_tomin
0           asks    2015.08  ...     16:39:13   16:39:00
1           asks    2015.12  ...     16:39:13   16:39:00
2           asks    2015.20  ...     16:39:13   16:39:00
3           asks    2015.31  ...     16:39:13   16:39:00
4           asks    2015.32  ...     16:39:13   16:39:00
...          ...        ...  ...          ...        ...
155495      asks    2010.26  ...     17:12:39   17:12:00
155496      asks    2010.34  ...     17:12:39   17:12:00
155497      asks    2010.36  ...     17:12:39   17:12:00
155498      asks    2010.37  ...     17:12:39   17:12:00
155499      asks    2010.39  ...     17:12:39   17:12:00

[155500 rows x 9 columns]

### Ask-bid Spread

In [ ]:
# Average ABS calculation (delta t = 1 minute)
df_orderbook['ask-bid spread'] = df_orderbook['price_ask']-df_orderbook['price_bid']
df_ABS = pd.DataFrame(df_orderbook['ask-bid spread'].groupby(df_orderbook['time_tomin']).mean())
df_ABS=df_ABS.rename(columns = {'ask-bid spread':'ABS_ave'})

In [ ]:
df_ABS

             ABS_ave
time_tomin
16:39:00    3.523412
16:40:00    3.219809
16:41:00    3.638836
16:42:00    3.756940
16:43:00    3.654773
16:44:00    3.513657
16:45:00    3.661869
16:46:00    3.592769
16:47:00    3.801893
16:48:00    3.632727
16:49:00    3.420091
16:50:00    3.629440
16:51:00    3.581473
16:52:00    3.842860
16:53:00    3.841245
16:54:00    3.320556
16:55:00    3.677504
16:56:00    4.480075
16:57:00    3.885735
16:58:00    3.583480
16:59:00    3.750700
17:00:00    4.538167
17:01:00    3.661494
17:02:00    3.203189
17:03:00    3.264500
17:04:00    3.105070
17:05:00    3.111102
17:07:00    3.205325
17:08:00    3.355640
17:09:00    3.769433
17:10:00    3.885487
17:11:00    4.194261
17:12:00    4.146931